.list {
  padding: 30px 60px 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30vw;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}
